.place_to_posts{
 
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  grid-column-gap: 20px;
  grid-row-gap: 10px;
  margin-top: 95px;
  margin-left: 20px;
  
}

.main_post{grid-area: 1 / 1 / 2 / 2 ;
height:309px
}

.entries_post{ grid-area: 2 / 1 / 3 / 2;
height: 310px;
margin-top:10px;
overflow-y:hidden;

width: 100.5%;
}


::-webkit-scrollbar{

display:block;

}







.one_entry{
width: 100%;
height:50px;
margin-bottom:55px;
display:flex;
justify-content:start;
justify-items: center;
flex-direction: row;
line-height: 32px;
}

.photos{

width:150px;
height:90px;


}


.header_entry{
  width:70%;
  height:90px; margin-left:10px;
 
  backdrop-filter: blur(0.6px);
  background: rgb(85, 84, 84);
  
  font-size:12px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
  color:rgb(244, 244, 244);
border-top-left-radius: 10px;
border-top-right-radius: 10px;
border-bottom-left-radius: 10px ;
border-bottom-right-radius:10px;
  }
  












.player{
  grid-area: 1 / 2 / 3 / 3; 


  }





.title{
width: 100%;
height:50px;
position:relative;

bottom:50px;
backdrop-filter: blur(0.6px);
background: rgba(157, 157, 157, 0.388);

font-size:17px;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

color:rgb(255, 255, 255);
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
}

   
.title_text{

text-align: justify;
text-justify: inter-word;
  padding-left:12px;
  padding-right: 12px;
  padding-top: 13px;
 line-height:155%;
  margin:0;
font-size: 10px;
  }
 

  .title_text_video{

    text-align: justify;
    text-justify: inter-word;
      padding-left:12px;
      padding-right: 12px;
      padding-top: 13px;
     line-height:175%;
      margin:0;
    font-size: 9px;
      }
     








.title_text_main{

  text-align: justify;
  text-justify: inter-word;
    padding-left:12px;
    padding-right: 12px;
    padding-top: 10px;
   line-height:135%;
    margin:0;
  font-size: 16px;
    } 

a{
 height: 100%;
  text-decoration: none;
}


img{
  width: 100%;
  height: 100%;
  border-radius: 3px;
  box-shadow:2px 2px 3px  rgba(0, 0, 0, .5);
  object-fit:cover;
  
  transform: scale(1);
  transition:  transform 0.2s;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius:10px ;
  border-top-right-radius:10px;

  }
  
.main_post:hover{
  transform: scale(0.1, 0.1);
  opacity:1;
  animation:1s xoxo forwards;
  }
  
  
@keyframes xoxo{
from{transform: scale(1);}
to{transform: scale(1.02);}

}














.text{
text-align:justify;

width: 100%; 
text-indent: 35px; 
height: 40px;

overflow: auto;
font-size:11px;

font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
@keyframes lefting_three {

  from{transform: translateX(0%);}
  to{transform: translateX(22%);}
  
}

@keyframes lefting1_three {

  from{transform: translateX(22%);}
  to{transform: translateX(0%);}
  
}






@keyframes lefting {

  from{transform: translateX(0%);}
  to{transform: translateX(6%);}
  
}

@keyframes lefting1 {

  from{transform: translateX(6%);}
  to{transform: translateX(0%);}
  
}





.player{
  grid-area: 1 / 2 / 3 / 3; 


  }
  
.video_player{

width: 100%;
height:305px;


}


  video{
  
    border-radius: 10px; 
    width:110% !important;
    max-height: 310px ; 
    object-fit:cover;

    display: grid;  
    grid-template-columns:1fr ; 
    grid-template-rows:90% ; 
    gap:5px;
    border:1px;
  }

.list_media{
 
  width: 114%;
  height: 322px;
 overflow-y: auto;
 overflow-x: hidden;
margin-top:14px;
margin-left: 1%;
}



.video_container{
  
  width: 101%;
  height:150px;
  margin:12px;
  margin-left:0;
  margin-top:10px;
  display:flex;
  flex-direction: row;




}






.number_video{
width:60%;
margin-right: 21px;
font-family: Arial, Helvetica, sans-serif;
font-size:13px;
text-align: left;
line-height: 130px;
background: rgb(75, 75, 75) ;
border-bottom-left-radius: 10px;
border-bottom-right-radius: 10px;
border-top-left-radius:10px ;
border-top-right-radius:10px;
color:white;
padding-top: 10px;

}

.video_list{
display: block;
width:40% !important;
height: auto;
margin-right: 10px;


}














.upload{
width: 100%;
height: 38px;



}





  
input[type="submit"]{
  position: relative;


  padding:0 25px;

 margin:-21px 64px  ;
  width:50%;
  height: 39px;z-index: 2;
  } 


