
 .search{
    width: 40px;
   margin-top:12px;
   margin-left:10px;
   }
  

.common_element{

display:flex;


}




   .input_search{
  transform: translateX(0);
  padding-left: 10px;
  width:35px;
  height:35px;
  border-radius:50px;
  border: 0.5px solid rgb(255, 255, 255);
  background-color:rgb(109, 109, 109);
  transition: width 0.2s;
   }

i {
    position: relative;
    color: rgb(255, 255, 255);
    transition: .2s;
    left: -43px;
 z-index: 100;
   
}

    input[type=text]:focus  {
    background-color: rgb(109, 109, 109);
    color:white;

  }
  