
 .search{
    width: 40px;
   margin-top:12px;
   margin-left:10px;
   }
  

.common_element{

display:flex;

}




   .input_search{
  transform: translateX(0);
  padding-left: 14px;
  width:32px;
  height:32px;
  border-radius:50px;
  border: 2px solid rgb(255, 255, 255);
  background-color:rgb(161, 159, 154);
  transition: width 0.2s;
   }

i {
    position: relative;
    color: rgb(255, 255, 255);
    transition: .2s;
    left: -40.9px;
    top:-1px;
    z-index: 100;
   
}

    input[type=text]:focus  {
    background-color: rgb(109, 109, 109);
    color:white;
    outline:none;

  }
  